.item-Wrapper {
  box-sizing: border-box;
  width: 300px;
  height: 500px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 30px;
  margin: 10px;
  border: 2px solid gray;
  border-radius: 20%;
  box-shadow: 2px 10px 10px 1px rgba(70, 70, 70, 0.8);
  background-color: rgba(255, 255, 255, 0.8);
  color:  rgba(72,17,115, 1);
}

.item-image {
  width: 220px;
  height: 250px;
}

.Counter {
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin: 10px;
  padding: 10px;
  gap: 5px;
}

.button {
  max-width: 50px;
  max-height: 50px;
  font-size: 40px;
}
