
.modal-button {
  font-size: 20px;
}

.modal-item-image {
  width: 88px;
  height: 88px;
}

.modal-Wrapper {
  box-sizing: border-box;
  background-color: rgba(224, 147, 255, 0.897);
  color:  rgba(72,17,115, 1);
  height: 100px;
  width: 500px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 10px;
  padding: 10px;
}

.modal-Counter {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}
