.trash {
  width: 20px;
  height: 20px;
}

.modal-button {
  font-size: 20px;
}

.modal-item-image {
  width: 88px;
  height: 88px;
}

.modal-Wrapper {
  background-color: rgba(224, 147, 255, 0.897);
  color: blueviolet;
  height: 100px;
  width: 500px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 10px;
  padding: 10px;
}

.modal-Counter {
  display: flex;
  justify-content: center;
  align-items: center;
}
