.header {
 background: url("../assets/bg.jpg");
 background-size: cover;
  height: 200px;
  width: 100vw;
  display: flex;
  justify-content:center;
  align-items: center;
}

.cart {
margin: 20px;
position: absolute;
right: 20px;
}

h1 {
  font-size: 80px;
}